body{
    background-color: midnightblue;
}
main{
    background-color: azure;
    padding: 26px;
    margin: auto;
    width: 60%;
    height: 500px;
    border-radius: 3px;
}

h1{
    background-color: midnightblue;
    color: greenyellow;
    padding: 8px;
    text-align: center;
    border-radius: 3px;
}

#país{
    padding: 5px;
}

#btn{
    cursor: pointer;
    background-color: rgb(25, 70, 112);
    color: greenyellow;
    margin: 2px;
    border-radius: 3px;
    padding: 7px;
    border: none;
}
#btn:hover{
    background-color: rgb(25, 92, 112);
    box-shadow: 0px 0px 4px 1px rgba(36, 133, 185, 0.594);
    transition: 0.4s;
}